.tabs-bar {
  margin-bottom: 16px;
}

.tabs-nav {
  font-size: 14px;
}

.tabs-nav:after, .tabs-nav:before {
  display: table;
  content: ' ';
}

.tabs-nav:after {
  clear: both;
}

.tabs-nav > .tabs-tab {
  float: left;
  list-style: none;
  margin-right: 24px;
  padding: 8px 20px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

.tabs-nav > .tabs-active {
  border-bottom: 2px solid #00c49f;
  color: #00c49f;
  cursor: default;
}

.tabs-content .tabs-panel {
  display: none;
}

.tabs-content .tabs-active {
  display: block;
}
