.cube-wrap {
  margin: 150px auto;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  position: relative;
}
.cube-wrap .cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.cube-wrap .cube .cube-face {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  opacity: 0.9;
  border: 1px solid #ccc;
}
.cube-wrap .cube .cube-face img {
  width: 100%;
  height: 100%;
}
.cube-face.front {
  transform: translateZ(150px);
}
.cube-face.back {
  transform: rotateX(180deg) translateZ(150px);
}
.cube-face.left {
  transform: rotateY(-90deg) translateZ(150px);
}
.cube-face.right {
  transform: rotateY(90deg) translateZ(150px);
}
.cube-face.top {
  transform: rotateX(90deg) translateZ(150px);
}
.cube-face.bottom {
  transform: rotateX(-90deg) translateZ(150px);
}
.cube-wrap .cube {
  animation: spin 10s linear infinite;
}
@keyframes spin {
  from {
    transform: rotateX(45deg) rotateY(45deg);
  }
  to {
    transform: rotateX(405deg) rotateY(765deg);
  }
}
