* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

:focus {
    outline: none;
}

body {
    padding: 50px;
}

input[type=text] {
    border: 1px solid #ccc;
}

.my-select-box {
    font-size: 12px;
    width: 232px;
    position: relative;
}

.my-select-box .my-select-header {
    border: 1px solid #ccd0d6;
    cursor: pointer;
    height: 32px;
    box-sizing: border-box;
    padding: 8px 5px;
}

.my-select-box .my-select-header .label {
    display: block;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5px;
    line-height: 1.2em;
    color: #24344e;
}

.my-select-box .my-select-header .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.my-select-box .my-select-list {
    background: #fff;
    border: 1px solid #ccd0d6;
    border-top: none;
    box-sizing: border-box;
    display: none;
    left: 0;
    overflow-y: auto;
    position: absolute;
    max-height:200px;
    width:232px;
    z-index: 101;
}

.my-select-box .my-select-list li {
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    list-style: none;
    min-height: 20px;
    padding: 6px 10px;
}
.my-select-box .my-select-list li:last-child{
    font-size: 14px;
    height:32px;
    padding:0;
    position: relative;
}
.my-select-box .my-select-list li.choosed {
    background: #EFEFEF;
    color: #24344e;
}

.my-select-box .my-select-list li:hover {
    background: #EFEFEF;
    color: #24344e;
}

.my-select-box .add-input{
    height:100%;
    padding: 0 5px;
    width: 70%;
    box-sizing: border-box;
}

.my-select-box .add-btn{
    border: 1px solid #ccd0d6;
    border-left:none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height:100%;
    position: absolute;
    top:0;
    right:0;
    width:30%;
}
