<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      .main {
        background-color: #000;
        height: 500px;
      }

      .left,
      .right {
        height: 100%;
      }

      .left {
        background-color: skyblue;
        margin-right: 400px;
      }

      .right {
        background-color: olivedrab;
        float: right;
        width: 400px;
      }
    </style>
  </head>

  <body>
    <div class="main">
      <div class="right">right</div>
      <div class="left">left</div>
    </div>
  </body>
</html>
